jitsi.anubhavsamanta.tech {
    reverse_proxy host.docker.internal:8443 {
        transport http {
            tls_insecure_skip_verify
        }
    }
}

opnform.anubhavsamanta.tech {
    # Handle API requests
    handle /api/* {
        uri strip_prefix /api
        reverse_proxy opnform-api:80
    }

    # Handle all other requests (client)
    handle {
        reverse_proxy opnform-client:80
    }
}
